* {
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    /* border: 1px solid black; */
  }

body {
    margin: 0 auto;
    padding: 15px;
    max-width: 300px;
    background: lightgray;
}

.new-item-form {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
  .new-item-form input {
    outline: none;
    /* border: 1px solid hsl(200, 100%, 40%); */
    background: white;
    border-radius: 5px;
    padding: 5px;
    /* color: hsl(200, 100%, 90%); */
  }
.form-row {
    display: flex;
    flex-direction: column;    
}

.list {
    list-style: none;
    padding: 0;
    margin: 0;
}
.list li {
    display: flex;
    gap: 5px;
    margin: 5px;
}
.checkbox input {
    
}
.btn{
    border-radius: 5px;
    background: none;
    cursor: pointer;
    padding: 5px;
}

.btn-danger {
    display: inline-flex;
    color: red;
    border: 1px solid red;
    padding: 2px;
}

